name: Gradle Publish

on:
  push:
    tags:
    - '*'
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: 'Extract data from tag: version, message, body'
      run: |
        git fetch --tags --force # Retrieve annotated tags. Needed for git describe, if tag is not on current commit
        echo ::set-output name=subject::$(git for-each-ref $GITHUB_REF --format='%(contents:subject)')
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'adopt'
    - name: Validate Gradle wrapper
      uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b
    - name: Publish to Repository
      uses: gradle/gradle-build-action@v2
      with:
        arguments: 'publish --stacktrace'
      env:
        DEPLOY_URL: ${{ secrets.DEPLOY_URL }}
        DEPLOY_USER: ${{ secrets.DEPLOY_USER }}
        DEPLOY_PASSWORD: ${{ secrets.DEPLOY_PASSWORD }}
